body {
    overflow-x: hidden;
    height: 1000px;
    margin: 0;
    padding: 0; 
}

a{
    text-decoration: none; /*bỏ gạch chân của các thẻ link*/
}

.header {
    position: relative;
    background-color: #21252b;
    height: 46px;
    display: flex;
    width: 100%;
    align-items: center; /*căn giữa theo chiều dọc, tiền điều kiện: display là flex*/
    justify-content: space-around; /*căn theo chiều ngang, tiền điều kiện: display là flex*/
}

text {
    margin-left: 5px;
    color: #858d91;
    font-size: 16px;
}

.contact {
    display: flex;
}
.contact img {
    width: 25px;
    height: 25px;
}

.phone {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.phone strong {
    color: #ccccd5;
}

.email {
    display: flex;
    align-items: center;
}
.email a {
    margin-left: 5px;
    color: #0dc0c0;
}

.social {
    display: flex;
    align-items: center;
}
.social img {
    width: 17px;
    height: 17px;
}

.follow {
    color: #ccccd5;
}

.icon ul {
    display: flex;
    list-style: none;
}

.icon li {
    margin-right: 25px;
}


.twitter:hover {
    background-color: aqua;
}

.facebook:hover {
    background-color: blue;
}

.ball:hover {
    background-color: palevioletred;
}


.header-navigation{
    display: flex;
    justify-content: space-around;
    position: sticky;
}

.logo{
    margin-right: 60px;
    display: flex;
}

.aura img{
    width: 100px;
    height: 100px;
}

.HTML5{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: grey;
}

.menu {
    height: 96px;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.list-tittle{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tittle{
    display: inline-block;
    margin-right: 35px;
    position: relative;
}

.tittle:hover{
    color: #0dc0c0;
}

.dropdown {
    z-index:9999; 
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px rgba(169, 32, 32, 0.2);
    top: 100%; /* Hiển thị dropdown dưới mục cha */
    left: 0; /* Cố định vị trí bắt đầu của dropdown */
    list-style-type: none;
}

li:hover .dropdown {
    display: block;
}

.dropdown li{
    width: 180px;
    height: 40px;
    background-color: #1e2127;
    border-top: 1px solid grey ;
    border-bottom: 1px solid grey;
    margin: -1px 0 0 0;
    align-items: center;
}

.dropdown li:hover{
    background-color: #21262c;
}

.dropdown li:hover a {
    color: #0dc0c0; /* Đặt màu cho thẻ a khi hover */
}

.dropdown li a {
    font-size: 14px;
    color: #abb3b9;
    display: inline-block;
    padding: 14px; 
}
.arrow-down{
    font-size: 8px;
 }
 


