body{
    background-color: rgb(23, 17, 29);
    color: white;
    width: 1500px;
    height: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
    justify-content: space-between;
}
.anh, .lop1, .lop2, .lop3{
    width: 275px;
    height: 275px;      
}
.anh{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.anh .lop1{
    position: absolute;
    transition: 0.4s;
}
a,span{
    color: rgba(100,100,100);
    font-weight: 600;
}
a{
    text-decoration: none;
    display: inline;
    padding: 10px 0;
}
.item{
    display: flex;
    flex-direction: column;
}
.name{
    color: white;
    display: block;
}
a:hover{
    color: blueviolet;
    text-decoration: underline;
}
a.name{
    position: relative;
    font-family: segoe ui;
    text-decoration: none;
    font-size: 20px;
}
a.name:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(41, 41, 81);
    transition: 0.4s;
}
a.name:hover:after{
    width: 100%;
    left: 0;
}
.name:hover{
    text-decoration: none;
}
.anh:hover .lop1{
    transform: scale(1.2);
}
.anh .lop2{
    opacity: 0;
    position: absolute;
    background-color: black;
    transition: 0.4s;
}
.anh:hover .lop2{
    opacity: 0.4;
    transform: scale(1.2);
}
.anh .lop3{
    opacity: 0;
    position: absolute;
    top: 130px;
    transition: 0.4s;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
}
.anh:hover .lop3{
    opacity: 1;
}
