body{
    font-family: 'Times New Roman', Times, serif;
}
section {
    border: 5px solid white;
    border-radius: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding-left: 300px;
    background-color: white;
}
.red-text {
    color: rgb(229, 108, 170);
}
h1{
    color:rgb(7, 7, 7);
}
.col{
    max-width: 100px;
    background-coloR: white;
}